<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.mapper.SubjectMapper">

    <select id="getSubjectTeacherByName" resultMap="subject" >
        SELECT
            s.id,
            s.name,
            t.id   AS t_id,      -- 统一前缀为 t
            t.name AS t_name,
            t.age  AS t_age,
            t.title as t_title,
            t.manager as t_manager,
            t.salary as t_salary,
            t.comm as t_comm,
            t.gender as t_gender,
            t.subject_id as t_subjectId
        FROM subject s
                 LEFT JOIN teacher t ON s.id = t.subject_id
        WHERE s.name = #{name}

    </select>
    <resultMap id="subject" type="Subject" autoMapping="true">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <!-- 引用 TeacherMapper 中的 resultMap，用TeacherMapper中定义过的规则：resultMap="cn.tedu.mapper.TeacherMapper.teacher"，并指定字段前缀为 t_ -->
        <collection property="teachers" resultMap="cn.tedu.mapper.TeacherMapper.teacher"
                    columnPrefix="t_"/>
    </resultMap>


</mapper>