<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.mapper.TeacherMapper">
<!--&lt;!&ndash;    resulttype自动映射&ndash;&gt;-->
<!--    <select id="getTeacherById" resultType="cn.tedu.pojo.Teacher">-->
<!--        select * from teacher where id=#{id}-->
<!--    </select>-->
    <select id="getTeacherById" resultMap="teacher">
        SELECT *
        FROM teacher
        WHERE id = #{id}
    </select>
    <select id="selectTeacherSubjectById" resultMap="teacher3">
        SELECT t.id,
               t.name,
               t.age,
               t.title,
               t.manager,
               t.salary,
               t.comm,
               t.gender,
               t.subject_id,
               s.id   sid, -- 如果两张表有同名字段时,手动映射,底层是分不清要赋值的字段是哪个表的字段,所以需要在定义SQL时,将字段起别名
               s.name sname
        FROM teacher t
                 LEFT JOIN subject s ON t.subject_id = s.id
        WHERE t.id = #{id}
    </select>
    <resultMap id="teacher" type="Teacher">
        <!--指定主键列的封装规则
            id定义主键,底层会有优化
            column:指定数据库表的哪一列
            property:指定javaBean的那一属性（实体类）
        -->
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        <result column="title" property="title"/>
        <result column="manager" property="manager"/>
        <result column="salary" property="salary"/>
        <result column="comm" property="comm"/>
        <result column="gender" property="gender"/>
        <result column="subject_id" property="subjectId"/>
    </resultMap>
    <resultMap id="teacher3" type="Teacher" autoMapping="true">
        <result column="subject_id" property="subjectId"/>

        <association property="subject" javaType="Subject" autoMapping="true">
            <id column="sid" property="id"/>
            <result column="sname" property="name"/>
        </association>
    </resultMap>
</mapper>